.reg{
    margin-top:0 ;
    padding-top: 0;
    height: calc(100vh - 3.5rem);

    background-image: url("../../assests/loginBG.jpg");
    background-size: cover;
}
.regForm{
    margin:0 3rem;
    display: flex;
    flex-direction: column;
    height: 36rem;
    justify-content: center;
    font-family: 'Lora', serif;
}
.regInput{
    margin-top: 2rem;
    width: 25rem;
    align-self: center;
}
.loginLink{
    padding-left: 1rem;
    font-size: 1.2rem;
    text-decoration: none;

}
.error-message{
    align-self: center;
    color: red;
}