.write{
    margin:1rem 10rem ;
}
.writeImgDiv{
    
}
.writeImg{
    width: 100%;
    height: 18rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
.writeForm{
    width: 100%;
}
.writeFormItem{
    margin: 2rem 0;
}